@import "../utils";

.button_cont{
    //border: 2px solid red;
    .button{
        width: 100%;
        padding: 14px 20px;
        font-size: $l;
        border: none;
        outline: none;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
}
@media screen and (height <= 585px) {
    .button_cont{
        //border: 2px solid red;
        .button{
            padding: 10px 14px;
            font-size: $l;
        }
    }
}