
.list_item{
    //border: 1px solid red;
    display: flex;
    padding: 6px 0;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    border: 1px solid #000000;
    margin-top: 10px;
    margin: 10px 0;
    &:hover{
        border: 2px solid black;
    }
    .car_icon_cont{
        //border: 1px solid blue;
        width: 30%;
        img{
            width: 75%;
        }
    }
    .details_cont{
        //border: 1px solid indigo;
        width: 50%;
        .name{
            //border: 1px solid blue;
            font-weight: 500;
            .passengers_capacity{
                font-size: 0.7rem;
                display: inline;
                margin-left: 10px;
            }                   
        }
        .away{
            //border: 1px solid green;
            font-size: 0.8rem;
            color: #414141;
        }
        .away1{
            //border: 1px solid greenyellow;
            font-size: 0.8rem;
            color: #919191;
        }
    }
    .price_cont{
        //border: 1px solid orange;
        width: 20%;
        font-weight: 600;
    }
}