@import "../utils";

.list_item{
    //border: 1px solid red;
    display: flex;
    padding: 6px 0;
    text-decoration: none;
    color: $darkest;
    border-radius: 15px;
    margin-top: 10px;
    margin: 10px 0;
    &:hover{
        border: 2px solid $darkest;
    }
    .car_icon_cont{
        //border: 1px solid blue;
        width: 30%;
        img{
            width: 75%;
        }
    }
    .details_cont{
        //border: 1px solid indigo;
        width: 50%;
        .name{
            //border: 1px solid blue;
            font-weight: 500;
            .passengers_capacity{
                font-size: $xs;
                display: inline;
                margin-left: 10px;
            }                   
        }
        .away{
            //border: 1px solid green;
            font-size: $xs;
            color: $grayDark;
        }
        .away1{
            //border: 1px solid greenyellow;
            font-size: $xs;
            color: $grayLight;
        }
    }
    .price_cont{
        //border: 1px solid orange;
        width: 20%;
        font-size:$l;
        letter-spacing: 1.5px;
        font-weight: 600;
    }
}

@media screen and (height <= 585px) {
    .list_item{
        //border: 1px solid red;
        padding: 6px 0;
        margin-top: 10px;
        margin: 10px 0;
        .details_cont{
            .name{
                font-weight: 500;
                font-size: 1.3rem;
                .passengers_capacity{
                    font-size: $s;
                    margin-left: 10px;
                }                   
            }
            .away{
                font-size: $s;
            }
            .away1{
                font-size: $s;
            }
        }
        .price_cont{
            font-size:$xl;
            letter-spacing: 0.1px;
            font-weight: 500;
        }
    }
}