@import "../utils";

.chat_panel_cont{
    //border: 2px solid red;
    height: 100vh;
    transition: 0.3s;
    background-color: $lightest;
    border-radius: 20px 20px 0 0;
    position: absolute;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    //top: 13px;
    //left: 0;
    .messanger_cont{
        //border: 2px solid blue;
        height: 93%;
        .messanger_screen_cont{
            //border: 2px solid greenyellow;
            height: 85%;
            overflow-y: scroll;
            .messages_cont{
                //border: 2px solid violet;
                
                .incoming_message{
                    //border: 1px solid red;
                    width: 50%;
                    padding: 10px;
                    margin: 10px;
                    border-radius: 0 15px 15px 15px;
                    background-color: $lightest;
                    color: $darkest;
                    font-size: $s;
                    box-shadow: 0.1px 0.1px 1px 0.1px gray;
                }
                .outgoing_message{
                    //border: 1px solid red;
                    width: 50%;
                    padding: 10px;
                    margin: 10px 10px 10px auto;
                    border-radius: 15px 0 15px 15px;
                    background-color: rgba(0, 0, 0, 0.399);
                    color: $lightest;
                    font-size: $s;
                    box-shadow: 0.1px 0.1px 1px 0.1px $gray;
                }
            }                
        }
        .messanger_controllers_cont{
            //border: 2px solid orange;
            height: 15%;
            .input_cont{
                //border: 2px solid red;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: $grayLight;
                border-radius: 8px;
                .message_inp{
                    //border: 2px solid blue;
                    padding: 10px;
                    flex: 1;
                    background-color: transparent;
                    border: none;
                    outline: none;  
                    color: $grayDark;
                    font-size: $l;                      
                }
                .send_message_btn{
                    //border: 2px solid orange;
                    padding: 6px;
                    border-radius: 6px;
                    border: none;
                    outline: none;
                    .BiSend{
                        font-size: $xxl;
                    }
                }
            }
        }
    }
}