@import "../utils";

.input_cont{
    //border: 2px solid red;
    .input{
        //background-color: #e3e3e3;
        background-color: $grayLighter;
        padding: 15px 10px;
        border-radius: 8px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        color: $grayDark;
        font-size: 1rem;
    }
}
@media screen and (height <= 585px) {
    .input_cont{
        //border: 2px solid red;
        .input{
            padding: 13px 8px;
            font-size: 1.1rem;
        }
    }
}