@import "../utils";

.show_hide_toggler_cont{
    //border: 2px solid orange;
    text-align: center;
    height: 24px;
    .toggle_btn{
        //border: 2px solid blue;
        background-color: transparent;
        outline: none;
        border: none;
        .IoIosArrowDown{
            color: $grayLight;
            font-size: $xxl;
        }
    }
}