@import "../utils";

.driver_home_page_bg{
    //border: 1px solid red;
    height: 100vh;
    overflow-y: hidden;
    .logo{
        position: absolute;
        width: 23%;
        top: 0;
        left: 1.6rem;
    }
    .map_cont{
        //border: 2px solid violet;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .chat_short_cut{
        //border: 2px solid red;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        background-color: $lightest;
        .TiMessages{
            width: 35px;
            height: 28px;
            padding: 10px;
        }
        .notification{
            position: absolute;
            top: -6px;
            right: -6px;
            color: $lightest;
            font-weight: 600;
            background-color: rgb(255, 37, 37);
            width: 30px;
            height: 30px;
            text-align: center;
            align-content: center;
            border-radius: 20px;
        }
    }
    .passenger_request_panel_cont_outer{
        //border: 2px solid rgb(81, 255, 0);
        position: relative;
        transition: 0.3s;
        height: 65%;
        background-color: $lightest;
        padding: 10px 10px 0 10px;
        border-radius: 20px 20px 0 0;
        .passenger_request_panel_cont{
            //border: 2px solid rgb(149, 0, 255);
            height: 92%;
            //padding: 0 10px;
            box-sizing: border-box;
            transition: 0.3s;
            //transform: translate(0, -70vh);
            overflow-y: scroll;
            .second_part{
                //border: 2px solid red;
                margin-top: 15px;
                .input_cont{
                    //border: 2px solid red;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    background-color: $grayLighter;
                    border-radius: 8px;
                    .message_inp{
                        //border: 2px solid blue;
                        padding: 10px;
                        flex: 1;
                        background-color: transparent;
                        border: none;
                        outline: none;  
                        color: $grayDark;
                        font-size: $l;                      
                    }
                    .send_message_btn{
                        //border: 2px solid orange;
                        padding: 6px;
                        border-radius: 6px;
                        border: none;
                        outline: none;
                        .BiSend{
                            font-size: $xxl;
                        }
                    }
                }
            }
            .fifth_part{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 15px 0;
            }
        }
    }
    .driver_profile_panel_cont{
        //border: 2px solid red;
        height: 60%;
        transform: translate(0, -100%);
        background-color: $lightest;
        padding: 10px 15px;
    }
}