
.driver_riding_page_bg{
    //border: 2px solid red;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .map_cont{
        //border: 2px solid blue;
        height: 60%;
        box-sizing: border-box;

    }
    .riding_detail_panel_cont{
        //border: 2px solid green;
        height: 40%;
        padding: 10px;
        .show_btn_cont{
            //border: 2px solid orange;
            text-align: center;
            .BsArrowUp{
                margin: 0 auto;
            }
        }
        .riding_detail_panel_heading{
            //border: 2px solid pink;
            font-size: 1.4rem;
            font-weight: 600;
            margin-top: 10px;
        }
        .riding_distance_cont{
            //border: 2px solid violet;
            display: flex;
            gap: 30px;
            align-items: center;
            margin-top: 10px;
            .heading{
                color: #515151;
                background-color: #ececec;
                padding: 10px;
                border-radius: 8px;
            }
            .value{

            }
        }
        .riding_duration_cont{
            //border: 2px solid violet;
            display: flex;
            gap: 30px;
            align-items: center;
            margin-top: 10px;
            .heading{
                color: #515151;
                background-color: #ececec;
                padding: 10px;
                border-radius: 8px;
            }
            .value{

            }
        }
    }
    .passenger_request_panel_cont_outer{
        //border: 2px solid green;
        //position: relative;
        transition: 0.3s;
        height: 75%;
        width: 100%;
        padding: 10px 0;
        position: absolute;
        transition: 0.3s;
        left: 0;
        box-sizing: border-box;
        .show_location_btn{
            //border: 2px solid blue;
            width: 100%;
            height: 6%;
            background: transparent;
            border: none;
            outline: none;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                background-color:#e1e1e1;
                color: #919191;
            }
            .CiLocationOn{
                font-size: 1.4rem;
                color: black;
            }
        }
        .passenger_request_panel_cont{
            //border: 2px solid indigo;
            height: 94%;
            padding: 0 10px;
            box-sizing: border-box;
            transition: 0.3s;
            //transform: translate(0, -70vh);
            background-color: white;
            overflow-y: scroll;
            .third_part{
                //border: 2px solid green;
                .pickup_location_details_cont{
                    //border: 1px solid green;
                    display: flex;
                    justify-content: space-between;
                    //align-items: ;
                    border-bottom: 1px solid #919191;
                    margin-top:15px;
                    .CiLocationOn{
                        margin-top: 15px;
                        margin-left: 15px;
                    }
                    .pickup_location_details{
                        //border: 1px solid blue;
                        margin-left: 15px;
                        padding: 10px;
                        width: 85%;
                        .highlight_info{
                            font-weight: 600;
                            font-size: 1rem;
                        }
                        .full_info{
                            font-size: 0.9rem;
                        }
                    }
    
                }
            }
            .fourth_part{
                .dropoff_location_details_cont{
                    //border: 1px solid indigo;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #919191;
                    margin-top:15px;
                    .CiLocationOff{
                        //border: 1px solid violet;
                        margin-top: 15px;
                        margin-left: 15px;
                    }
                    .dropoff_location_details{
                        //border: 1px solid blue;
                        margin-left: 15px;
                        padding: 10px;
                        width: 85%;
                        .highlight_info{
                            font-weight: 600;
                            font-size: 1rem;
                        }
                        .full_info{
                            font-size: 0.7rem;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .fifth_part{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 15px 0;
            }
        }
    }
}