

.driver_home_page_bg{
    //border: 1px solid red;
    height: 100vh;
    overflow-y: hidden;
    .logo{
        position: absolute;
        width: 23%;
        top: 0;
        left: 1.6rem;
    }
    .map_cont{
        //border: 2px solid violet;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .passenger_request_panel_cont_outer{
        //border: 1px solid red;
        position: relative;
        transition: 0.3s;
        height: 65%;
        .show_location_btn{
            //border: 2px solid red;
            position: absolute;
            right: 10px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: white;
            border: none;
            outline: none;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                background-color:#e1e1e1;
                color: #919191;
            }
            .CiLocationOn{
                font-size: 1.4rem;
                color: black;
            }
        }
        .passenger_request_panel_cont{
            //border: 2px solid indigo;
            height: 100%;
            padding: 0 10px;
            box-sizing: border-box;
            transition: 0.3s;
            //transform: translate(0, -70vh);
            background-color: white;
            overflow-y: scroll;
            .second_part{
                //border: 2px solid red;
                margin-top: 15px;
                .input_cont{
                    //border: 2px solid red;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    background-color: #e3e3e3;
                    border-radius: 8px;
                    .message_inp{
                        //border: 2px solid blue;
                        padding: 10px;
                        flex: 1;
                        background-color: transparent;
                        border: none;
                        outline: none;  
                        color: #313131;
                        font-size: 1.1rem;                      
                    }
                    .send_message_btn{
                        //border: 2px solid orange;
                        padding: 6px;
                        border-radius: 6px;
                        border: none;
                        outline: none;
                        .BiSend{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .fifth_part{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 15px 0;
                .ignore_btn{
                    background-color: transparent;
                    color: #919191;
                    border: 1px solid #919191;
                    &:hover{
                        background-color:#f1f1f1;
                    }
                }
                .accept_btn{
                    background-color: gold;
                    color: black;
                    &:hover{
                        background-color:rgba(255, 215, 0, 0.7);
                    }
                }
                .cancel_btn{
                    background-color: transparent;
                    color: red;
                    border: 1px solid red;
                    &:hover{
                        background-color:rgba(255,0,0,0.1);
                    }
                }
                .confirm_btn{
                    background-color: rgba(53, 255, 53, 0.661);
                    color: rgb(0, 89, 0);
                    &:hover{
                        background-color:rgba(0,255,0,0.1);
                    }
                }
                button{
                    padding: 14px 20px;
                    font-size: 1.1rem;
                    border: none;
                    outline: none;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }
        }
    }
    .driver_profile_panel_cont{
        //border: 2px solid red;
        height: 60%;
        transform: translate(0, -100%);
        background-color: white;
        padding: 10px 15px;
        .second_part{
            display: flex;
            justify-content: space-between;
            background-color: gold;
            padding: 20px 15px;
            margin: 0 10px;
            margin-top: 15px;
            border-radius: 8px;            
            .safety_cont{
                //border:1px solid rgb(8, 0, 255);
                display: grid;
                place-items: center;
                .safety_icon{
                    //border:1px solid red;
                    //padding:10px;
                    font-size: 1.6rem;
                    text-align: center;
                    border-radius: 50%;
                    //background-color: #e3e3e3;
                    .MdSafetyCheck{

                    }
                }
                .safety_heading{
                    font-weight:600;
                }
                .safety_sub_heading{
                    font-size:0.8rem;
                    font-weight:600;
                    color: #919191;
                }
            }
            .share_my_trip_cont{
                //border:1px solid rgb(8, 0, 255);
                display: grid;
                place-items: center;
                .share_my_trip_icon{
                    //border:1px solid red;
                    //padding:10px;
                    font-size: 1.6rem;
                    text-align: center;
                    border-radius: 50%;
                    //background-color: #e3e3e3;
                    .FaLocationPin{

                    }
                }
                .share_my_trip_heading{
                    font-weight:600;
                }
                .share_my_trip_sub_heading{
                    font-size:0.8rem;
                    font-weight:600;
                    color: #919191;
                }
            }
            .call_driver_cont{
                //border:1px solid rgb(8, 0, 255);
                display: grid;
                place-items: center;
                .call_driver_icon{
                    //border:1px solid red;
                    //padding:10px;
                    font-size: 1.6rem;
                    text-align: center;
                    border-radius: 50%;
                    //background-color: #e3e3e3;
                    .IoCall{

                    }
                }
                .call_driver_heading{
                    font-weight:600;
                }
                .call_driver_sub_heading{
                    font-size:0.8rem;
                    font-weight:600;
                    color: #919191;
                }
            }
        }
    }
}