@import "../utils";

.driver_riding_page_bg{
    //border: 2px solid red;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .map_cont{
        //border: 2px solid blue;
        height: 60%;
        box-sizing: border-box;

    }
    .riding_detail_panel_cont{
        //border: 2px solid green;
        height: 40%;
        padding: 10px;
        .show_btn_cont{
            //border: 2px solid orange;
            text-align: center;
            .BsArrowUp{
                margin: 0 auto;
            }
        }
        .riding_detail_panel_heading{
            //border: 2px solid pink;
            font-size: $xxl;
            font-weight: 600;
            margin-top: 10px;
        }
        .riding_distance_cont{
            //border: 2px solid violet;
            display: flex;
            gap: 30px;
            align-items: center;
            margin-top: 10px;
            .heading{
                color: $grayDark;
                background-color: $grayLighter;
                padding: 10px;
                border-radius: 8px;
            }
        }
        .riding_duration_cont{
            //border: 2px solid violet;
            display: flex;
            gap: 30px;
            align-items: center;
            margin-top: 10px;
            .heading{
                color: $gray;
                background-color: $grayLighter;
                padding: 10px;
                border-radius: 8px;
            }
        }
    }
}