@import "../utils";

.driver_home_page_bg{
    //border: 1px solid red;
    height: 100vh;
    overflow-y: hidden;
    .logo{
        position: absolute;
        width: 23%;
        top: 0;
        left: 1.6rem;
    }
    .map_cont{
        //border: 2px solid violet;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .chat_short_cut{
        //border: 2px solid red;
        position: absolute;
        top: 60px;
        right: 10px;
        border-radius: 50%;
        background-color: $grayLighter;
        width: 55px;
        height: 55px;
        .TiMessages{
            width: 35px;
            height: 28px;
            padding: 10px;
        }
        .notification{
            position: absolute;
            top: -6px;
            right: -6px;
            color: $lightest;
            font-weight: 600;
            background-color: rgb(255, 37, 37);
            width: 30px;
            height: 30px;
            text-align: center;
            align-content: center;
            border-radius: 20px;
        }
    }
    .my_profile_short_cut{
        //border: 2px solid red;
        position: absolute;
        top: 130px;
        right: 10px;
        border-radius: 50%;
        background-color: $grayLighter;
        width: 55px;
        height: 55px;
        .TiMessages{
            width: 35px;
            height: 28px;
            padding: 10px;
        }
        .notification{
            position: absolute;
            top: -6px;
            right: -6px;
            color: $lightest;
            font-weight: 600;
            background-color: rgb(255, 37, 37);
            width: 30px;
            height: 30px;
            text-align: center;
            align-content: center;
            border-radius: 20px;
        }
    }
    .driver_profile_panel_cont{
        //border: 2px solid red;
        height: 60%;
        transform: translate(0, -100%);
        background-color: $lightest;
        padding: 10px 15px;
        position: absolute;
        bottom:-60%;
        box-sizing: border-box;
        width: 100%;
    }
    .passenger_request_panel_cont_outer{
        //border: 2px solid rgb(0, 170, 255);
        position: relative;
        transition: 0.3s;
        height: 65%;
        background-color: $lightest;
        padding: 10px 10px 0 10px;
        border-radius: 20px 20px 0 0;
    }
}