@import "../utils";

.home_page_background{
    //border: 2px solid red;
    height: 100vh;
    //box-sizing: border-box;
    //position: relative;
    transition: 0.3s;
    overflow-y: hidden;
    .logo{
        position: absolute;
        width: 23%;
        top: 0;
        left: 1.6rem;
    }
    .map_cont{
        //border: 2px solid violet;
        height: 60%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .form_cont{
        //border: 2px solid indigo;
        height: 50%;
        padding: 10px;
        box-sizing: border-box;
        transition: 0.3s;
        //transform: translate(0, -70vh);
        background-color: $lightest;
        //form{
        //    .destination_inp{
        //        margin-top: 10px;
        //    }
        //}
    }
    .suggestion_list_cont{
        //border: 2px solid greenyellow;
        height: 60%;
        width: 100%;
        //transform: translate(0, -70vh);
        z-index: -1;
        transition: 0.3s;
        //background-color: rgb(255, 237, 237);
        background-color: $lightest;
        overflow-y: scroll;
        .searched_pickup_location_cont{
            //border: 1px solid red;
            display: flex;
            padding: 10px 0;
            text-decoration: none;
            .location_icon{
                //border: 1px solid indigo;
                padding: 10px;
                color: $darkest;
            }
            .location_detaile{
                //border: 1px solid blue;
                font-size: $xs;
                padding: 0 5px;
                color: $grayDarker;
            }
        }
    }
    .rides_list_cont{
        //border: 2px solid red;
        height: 67%;
        transition: 0.3s;
        //background-color: rgb(255, 230, 230);
        background-color: $lightest;
        border-radius: 20px 20px 0 0;
        padding: 10px;
        .rides_list{
            //border: 2px solid green;
            overflow-y: scroll;
            height: 85%;
        }
    }
    .selected_rides_detail_cont{
        //border: 2px solid red;
        height: 80%;
        transition: 0.3s;
        //background-color: rgb(255, 230, 230);
        background-color: $lightest;
        border-radius: 20px 20px 0 0;
        padding: 10px;
        .selected_ride{
            //border: 2px solid green;
            overflow-y: scroll;
            height: 60%;
            //padding: 10px;
            .car_icon_cont{
                //border: 1px solid violet;
                text-align: center;
                img{
                    //border: 1px solid red;
                    width: 60%;
                }
            }
            .ride_details{
                // modulated
            }
        }
    }
    .waiting_for_driver_cont{
        //border: 2px solid red;
        height: 80%;
        transition: 0.3s;
        //background-color: rgb(255, 230, 230);
        background-color: $lightest;
        border-radius: 20px 20px 0 0;
        padding: 10px 10px 0 10px;
        .selected_ride{
            //border: 2px solid green;
            overflow-y: scroll;
            height: 67.5%;
            padding-bottom: 20px;
            //padding: 10px;
            .car_icon_cont{
                //border: 1px solid violet;
                text-align: center;
                img{
                    //border: 1px solid red;
                    width: 60%;
                }
            }
            .ride_details{
                // modulated
            }
        }
    }
    .meet_at_pickup_point_cont{
        //border: 2px solid red;
        height: 66%;
        transition: 0.3s;
        background-color: $lightest;
        .selected_ride{
            //border: 2px solid violet;
            overflow-y: scroll;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            .first_part{
                //border: 2px solid indigo;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .timer{
                    //border: 1px solid black;
                    text-align: center;
                    padding: 0 10px;
                    background-color: $darkest;
                    color: $lightest;
                    .value{

                    }
                    .unit{

                    }
                }
            }
            .third_part{
                //border: 2px solid green;
                margin: 15px 0;
                .input_cont{
                    //border: 2px solid red;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    background-color: $grayLighter;
                    border-radius: 8px;
                    .message_inp{
                        //border: 2px solid blue;
                        padding: 10px;
                        flex: 1;
                        background-color: transparent;
                        border: none;
                        outline: none;  
                        color: $grayDark;
                        font-size: $l;                      
                    }
                    .send_message_btn{
                        //border: 2px solid orange;
                        padding: 6px;
                        border-radius: 6px;
                        border: none;
                        outline: none;
                        background-color: $grayDark;
                        color: white;
                        .BiSend{
                            font-size: $xxl;
                        }
                    }
                }
            }

        }
    }
}