@import "../utils";

.riding_page_bg{
    //border: 2px solid red;
    height: 100vh;
    position: relative;
    .map_cont{
        //border: 2px solid violet;
        height: 30%;
        background-color: $grayLighter;
    }
    .another_cont{
        height: 70%;
    }
    .meet_at_pickup_point_cont{
        //border: 2px solid indigo;
        height: 80%;
        transition: 0.3s;
        background-color: $lightest;
        position: absolute;
        left: 0;
        width: 100%;
        .selected_ride{
            //border: 2px solid violet;
            overflow-y: scroll;
            height: 90%;
            padding: 10px;
            .first_part{
                //border: 2px solid indigo;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .timer{
                    //border: 1px solid black;
                    text-align: center;
                    padding: 0 10px;
                    background-color: $darkest;
                    color: $lightest;
                    .value{

                    }
                    .unit{

                    }
                }
            }
            .fourth_part{
                //border: 2px solid rgb(0, 255, 98);
                display: flex;
                justify-content: space-around;
                margin: 15px 0;
                .safety_cont{
                    //border:1px solid rgb(8, 0, 255);
                    display: grid;
                    place-items: center;
                    .safety_icon{
                        //border:1px solid red;
                        padding:10px;
                        width:1.4rem;
                        text-align: center;
                        border-radius: 50%;
                        background-color: $grayLighter;
                        .MdSafetyCheck{

                        }
                    }
                    .safety_heading{
                        font-size:$xs;
                        font-weight:600;
                    }
                }
                .share_my_trip_cont{
                    //border:1px solid rgb(8, 0, 255);
                    display: grid;
                    place-items: center;
                    .share_my_trip_icon{
                        //border:1px solid red;
                        padding:10px;
                        width:1.4rem;
                        text-align: center;
                        border-radius: 50%;
                        background-color: $grayLighter;
                        .FaLocationPin{

                        }
                    }
                    .share_my_trip_heading{
                        font-size:$xs;
                        font-weight:600;
                    }
                }
                .call_driver_cont{
                    //border:1px solid rgb(8, 0, 255);
                    display: grid;
                    place-items: center;
                    .call_driver_icon{
                        //border:1px solid red;
                        padding:10px;
                        width:1.4rem;
                        text-align: center;
                        border-radius: 50%;
                        background-color: $grayLighter;
                        .IoCall{

                        }
                    }
                    .call_driver_heading{
                        font-size:$xs;
                        font-weight:600;
                    }
                }
                
            }
            .fifth_part{
                //border: 2px solid orange;
                padding: 15px 0;
                border-top: 1px solid $grayLight;
                .pickup_location_details_cont{
                    //border: 1px solid green;
                    display: flex;
                    justify-content: space-between;
                    //align-items: ;
                    //border-top: 1px solid #919191;
                    .CiLocationOn{
                        margin-top: 15px;
                        margin-left: 15px;
                    }
                    .pickup_location_details{
                        //border: 1px solid blue;
                        margin-left: 15px;
                        padding: 10px;
                        width: 85%;
                        .highlight_info{
                            font-weight: 600;
                        }
                        .full_info{
                            font-size: $xs;
                        }
                    }

                }
            }
            .sixth_part{
            }
        }
    }
}