@import "../utils";

.start_page_bg{
    //border: 2px solid red;
    .bg_image_cont{
        //border: 1px solid violet;
        height: 75vh;
        position: relative;
        .logo{
            //border: 2px solid white;
            position: absolute;
            width: 23%;
            top: 1.2rem;
            left: 1.6rem;
        }
        .bg_img{
            width: 100%;
            height: 100%;
        }
    }
    .continue_cont{
        //border: 2px solid red;
        background-color: white;
        height: 25vh;
        padding: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }
}