:root {
    //border: 2px solid green;
    font-family: roboto;
    box-sizing: border-box;
    font-size: 18px;
    overflow-y: hidden;
    width: 100vw;
    background-color: white;
}
#root {
    //border: 2px solid red;
}
body{
    width: 100vw;
    padding: 0;
    margin: 0;
}

@media screen and (height <= 585px) {
    :root {
        font-size: 15px;
    }
}